<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Records</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="Main/Navbar.html"></div>
    <div class="container">
        <h1 class="my-4">All Medical Records</h1>
        <hr>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Medical Record ID</th>
                    <th>Patient ID</th>
                    <th>Diagnoses</th>
                    <th>Treatments</th>
                    <th>Medications</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterate through the list of medical records and display each record -->
                <tr th:each="medicalRecord : ${medicalRecordList}">
                    <td th:text="${medicalRecord.id}"></td>
                    <td th:text="${medicalRecord.patientId}"></td>
                    <td th:text="${medicalRecord.diagnoses}"></td>
                    <td th:text="${medicalRecord.treatments}"></td>
                    <td th:text="${medicalRecord.medications}"></td>
                </tr>
            </tbody>
        </table>

        <div class="text-right">
            <a href="/" class="btn btn-secondary">Main Page</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
