<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Records</title>
</head>

<body>
    <h1>Medical Records</h1>
    <table>
        <thead>
            <tr>
                <th>Medical Record ID</th>
                <th>Patient ID</th>
                <th>Diagnoses</th>
                <th>Treatments</th>
                <th>Medications</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="medicalRecord : ${medicalRecordList}">
                <td th:text="${medicalRecord.medicalRecordId}"></td>
                <td th:text="${medicalRecord.patientId}"></td>
                <td th:text="${medicalRecord.diagnoses}"></td>
                <td th:text="${medicalRecord.treatments}"></td>
                <td th:text="${medicalRecord.medications}"></td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="/medicalrecords" class="btn btn-secondary">Back</a>
    </div>
</body>

</html>
