<!DOCTYPE html>
<html xmlns:th = "https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Superhero Sightings</title>

</head>
<body>
	<!--Providing a main page and a link to the search function-->
	<h1>Superhero Sightings</h1>
	<hr>
	<a href="./InputSightingSearchInfo">Search Sightings</a><br><br>
	<a href="./searchSighting?field=all&locationId=&date=&supeId=&sightingID=">Show All Sightings</a><br><br>
	<a href="./InputSightingDetails">Record a Sighting</a><br><br>
	<a href="./InputSightingIdForDelete">Delete a Sighting</a><br><br>
	<a href="./InputForSightingUpdate">Edit a Sighting</a>

	<br>
	<br>
	<a href="/">Main Page</a>
</body>
</html>