<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Doctors Office</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .hidden {
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

</head>

<body>
    <div th:replace="Main/Navbar.html"></div>
    <div class="container">
        <h1 class="my-4">Doctor's Office Appointment Management System</h1>
        <hr>
        <form action="./updateAppointment">
            <div class="form-group">
				Select Appointment ID to Edit:
				<select class="form-control" name="appointmentID" id="appointmentIdSelect">
				<option th:each="appointmentId : ${appointmentIds}" th:value="${appointmentId}" th:text="${appointmentId}"></option>
				</select>
			</div>

            <div class="form-group">
                Select field to edit:
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="field" value="patient" onclick="showInput('patient')" id="patientRadio">
                    <label class="form-check-label" for="patientRadio">Patient</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="field" value="date" onclick="showInput('date')" id="dateRadio">
                    <label class="form-check-label" for="dateRadio">Date and Time</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="field" value="doctor" onclick="showInput('doctor')" id="doctorRadio">
                    <label class="form-check-label" for="doctorRadio">Doctor</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="field" value="status" onclick="showInput('status')" id="statusRadio">
                    <label class="form-check-label" for="statusRadio">Appointment Status</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="field" value="notes" onclick="showInput('notes')" id="notesRadio">
                    <label class="form-check-label" for="notesRadio">Additional Notes</label>
                </div>
            </div>

            <div id="inputPatient" class="form-group hidden">
                <label for="patientIdSelect">Select a new patient:</label>
                <select class="form-control" name="patientId" id="patientIdSelect">
                    <option value="">-- Select --</option>
                    <!-- Use Thymeleaf to iterate over the locationIds and populate the options -->
                    <option th:each="patientId : ${patientIds}"
                            th:value="${patientId.split('-')[0].trim()}"
                            th:text="${patientId}"></option>
                </select>
            </div>

            <div id="inputDate" class="form-group hidden">
                Select date and time: <input class="form-control" type="datetime-local" name="appointmentTime" id="dateTimeInput">
            </div>

            <div id="inputDoctor" class="form-group hidden">
                <label for="doctorIdSelect">Select a new doctor:</label>
                <select class="form-control" name="doctorId" id="doctorIdSelect">
                    <option value="">-- Select --</option>
                    <!-- Using Thymeleaf to iterate over the locationIds and populate the options -->
                    <option th:each="doctorId : ${doctorIds}"
                            th:value="${doctorId.split('-')[0].trim()}"
                            th:text="${doctorId}"></option>
                </select>
            </div>

            <div id="inputStatus" class="form-group hidden">
                <label>Appointment Status:</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="appointmentStatus" value="Confirmed" id="statusConfirmed">
                    <label class="form-check-label" for="statusConfirmed">Confirmed</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="appointmentStatus" value="Pending" id="statusPending">
                    <label class="form-check-label" for="statusPending">Pending</label>
                </div>
            </div>

            <div id="inputNotes" class="form-group hidden">
                <label for="additionalNotesInput">Additional Notes:</label>
                <textarea class="form-control" name="additionalNotes" id="additionalNotesInput" rows="3" maxlength="200" placeholder="Enter additional notes..."></textarea>
                <small class="form-text text-muted">Maximum 200 characters</small>
            </div>
            
            <br>
            <input type="submit" class="btn btn-primary" value="Update Appointment">
        </form>

        <br>
        <br>
        <a href="/appointment-main/" class="btn btn-secondary">Back to Appointments Menu</a>
        <br>
        <br>
        <a href="/" class="btn btn-secondary">Main Page</a>
    </div>

    <script>
        function showInput(field) {
            var inputPatient = document.getElementById("inputPatient");
            var inputDate = document.getElementById("inputDate");
            var inputDoctor = document.getElementById("inputDoctor");
            var inputStatus = document.getElementById("inputStatus");
            var inputNotes = document.getElementById("inputNotes");

            inputPatient.style.display = "none";
            inputDate.style.display = "none";
            inputDoctor.style.display = "none";
            inputStatus.style.display = "none";
            inputNotes.style.display = "none";

            if (field === "patient") {
                inputPatient.style.display = "block";
            } else if (field === "date") {
                inputDate.style.display = "block";
            } else if (field === "doctor") {
                inputDoctor.style.display = "block";
            } else if (field === "status") {
                inputStatus.style.display = "block";
            } else if (field === "notes") {
                inputNotes.style.display = "block";
            }
        }
    </script>

    <script>
        $(document).ready(function() {
            $("#doctorIdSelect").change(function() {
                var selectedDoctorId = $(this).val();
                console.log("Selected Doctor ID: " + selectedDoctorId);
            });
        });
    </script>

    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
