<!DOCTYPE html>
<html xmlns:th = "https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Superheroes and Supervillains</title>
</head>
<body>
	<h1>View and Update the Superheroes and Supervillains Database</h1>
	<hr>
	<a href="./supesView">View Database of all Superheroes and Supervillains</a><br><br>
	<a href="./inputSupeIdForDelete">Delete a  Superhero or villain</a><br><br>
	<a href="./addSupeForm">Add a new Superhero or villain</a><br><br>
	<a href="./updateSupeForm">Edit an entry about a Superhero or villain</a>
	<br>
	<br>
	<a href="/">Main Page</a>
</body>
</html>