<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Office Management System</title>
    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	<div th:replace="Main/Navbar.html"></div>
    <div class="container my-4">
        <h2>Doctor Entry Updated</h2>

        <h2 th:text = "${outputMessage}"></h2>
        <br>

        <div class="text-right">
            <a href="/updateDoctorEntryForm" class="btn btn-secondary">Update Another Doctor Entry</a>
            <a href="/doctorMainPage" class="btn btn-secondary">Return to Doctor Main Page</a>
            <a href="/" class="btn btn-secondary">Return to Main Page</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>