<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div th:replace="Main/Navbar.html"></div>

<div class="container">
    <h1 class="my-4">Prescription</h1>
    <hr>

    <div class="row">
        <div class="col-md-3 text-center">
            <a href="./inputPrescriptionId" class="icon-link">
                <i class="fas fa-search fa-4x"></i>
                <p>Search Prescription by ID</p>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="./inputPatientId" class="icon-link">
                <i class="fas fa-user fa-4x"></i>
                <p>Search Prescription by Patient ID</p>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="./inputDoctorId" class="icon-link">
                <i class="fas fa-user-md fa-4x"></i>
                <p>Search Prescription by Doctor ID</p>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="./viewAll" class="icon-link">
                <i class="fas fa-list-alt fa-4x"></i>
                <p>Show All Prescriptions</p>
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3 text-center">
            <a href="./inputPrescriptionDetails" class="icon-link">
                <i class="fas fa-plus-circle fa-4x"></i>
                <p>Add New Prescription</p>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="./inputPrescriptionIdForDelete" class="icon-link">
                <i class="fas fa-trash-alt fa-4x"></i>
                <p>Delete Prescription</p>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="./inputPrescriptionDetailsForUpdate" class="icon-link">
                <i class="fas fa-edit fa-4x"></i>
                <p>Update Prescription</p>
            </a>
        </div>
    </div>

    <div class="mt-3">
        <a href="/" class="btn btn-secondary">Home</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>