<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">

<head>
    <title>Superhero Management System</title>
</head>
<body>
    <h1>Organisation Details</h1>
    
		<a href = "/listAllOrganisations">View All Organisation Entries</a>
		<br>
        <a href = "/addOrganisationForm">Add an Organisation Entry</a>
        <br>
        <a href = "/updateOrganisationForm">Update an Organisation Entry</a>
        <br>
        <a href = "/deleteOrganisationForm">Delete an Organisation Entry</a>
        <br>
    <a href = "/">Return to Main Page</a>
</body>
</html>
